@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

nav{
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ec9c7c;
}

nav .logo{
  width: 60px;
}

nav ul{
  list-style: none;
  display: flex;
}

nav ul li{
  padding: 20px;
}

nav ul li a{
  color: #000;
  text-decoration: none;
  font-size: 17px;
}

/*LIVROS*/
.titulo{
  margin-top: 15vh;
  font-size: 26px;
  text-align: center;
}
#fileira-principal{
  margin-top: 7vh;
}

.container{
  margin: 0 auto;
  max-width: 1240px;
  padding: 18px;
  position: relative;
  margin-bottom: 12vh;
}

.subtitulo{
  padding-bottom: 2vh;
  font-size: 23px;
  padding-left: 1.8vh;
}

.livros-container{
  overflow-x: auto;
}
.livros{
  display: flex;
  margin: 0 20px;
  flex-flow: row nowrap;
  gap: 15px;
}
.arrow-esquerda, .arrow-direita{
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 20px;
  line-height: 250px;
  width: 20px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
  background: linear-gradient(to left, transparent 0%, rgb(143, 139, 139) 200%);
  opacity: 0.1; 
  transition: all 600ms ease-in-out;
}
.arrow-direita{
  left: auto;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, transparent 0%, black 200%); 
}
.arrow-esquerda:hover,
.arrow-direita:hover{
  opacity: 1;
}

.item{
  width: 250px;
  height: 250px;
  flex-shrink: 0;
  opacity: 0.6;
  transition: all 600ms ease-in-out;
}
.current-item{
  opacity: 1;
}

.img-livros{
  width: 180px;
  height: 280px;
}

.progress{
  background-color: #888;
  height: 4px;
  margin-top: 4px;
}
.progress-bar{
  background-color: #ffa9a9;
  height: 4px;
  position: relative;
  top: -4px;
}
.progress-bar .um{
  width: 60%;
}
.progress-bar.dois{
  width: 47%;
}
.progress-bar.tres{
  width: 20%;
}
.progress-bar.quatro{
  width: 15%;
}
