@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url('https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css');

html,
body,
.main,
.main-container {
  height: 100%;
}

body {
    font-family: Poppins;
    color: #000;
    background: lightgray;
}

.row{
    max-width: 1024px;
}
