@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

nav{
  padding-top: 20px;
  display: flex;
  align-items: center;
  padding-left: 15vh;
  justify-content:space-around;
  background-color: #ee753e;
}

nav .logo{
  width: 60px;
  margin-right: 55vh;
}

nav ul{
  list-style: none;
  display: flex;
}

nav ul li{
  padding: 20px;
}

nav ul li a{
  color: #000;
  text-decoration: none;
  font-size: 17px;
}

/*LIVROS*/
.titulo{
  margin-top: 15vh;
  font-size: 26px;
  text-align: center;
}

.busca{
  text-align: center;
  margin-top: 4vh;
}

#pesquisa{
  outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 110%;
  color: black;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}
input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 52%;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 58%;
	background-color: #fff;
	border-color: #FA834B;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}


#fileira-principal{
  margin-top: 7vh;
}

.container{
  margin: 0 auto;
  max-width: 1240px;
  padding: 18px;
  position: relative;
  margin-bottom: 12vh;
}

.subtitulo{
  padding-bottom: 2vh;
  font-size: 23px;
  padding-left: 1.8vh;
}

.livros-container{
  overflow-x: auto;
}
.livros{
  display: flex;
  margin: 0 20px;
  flex-flow: row nowrap;
  gap: 15px;
}
.arrow-esquerda, .arrow-direita{
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 20px;
  line-height: 250px;
  width: 20px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
  background: linear-gradient(to left, transparent 0%, rgb(143, 139, 139) 200%);
  opacity: 0.1; 
  transition: all 600ms ease-in-out;
}
.arrow-direita{
  left: auto;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, transparent 0%, black 200%); 
}
.arrow-esquerda:hover,
.arrow-direita:hover{
  opacity: 1;
}

.item{
  width: 250px;
  height: 250px;
  flex-shrink: 0;
  opacity: 0.6;
  transition: all 600ms ease-in-out;
}
.current-item{
  opacity: 1;
}

.img-livros{
  width: 180px;
  height: 280px;
}

.progress{
  background-color: #888;
  height: 4px;
  margin-top: 4px;
}
.progress-bar{
  background-color: #ffa9a9;
  height: 4px;
  position: relative;
  top: -4px;
}
.progress-bar .um{
  width: 60%;
}
.progress-bar.dois{
  width: 47%;
}
.progress-bar.tres{
  width: 20%;
}
.progress-bar.quatro{
  width: 15%;
}
