@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

nav{
  padding-top: 20px;
  display: flex;
  align-items: center;
  padding-left: 15vh;
  justify-content:space-around;
  background-color: #ee753e;
}

nav .logo{
  width: 60px;
  margin-right: 55vh;
}

nav ul{
  list-style: none;
  display: flex;
}

nav ul li{
  padding: 20px;
}

nav ul li a{
  color: #000;
  text-decoration: none;
  font-size: 17px;
}

/*carossel*/
.main{
  height: 90vh;
  width: 100%;
  margin-bottom: 20vh;
}

.wrapper,
.slide{
  width: 100%;
  height: 100%;
  position: relative;
}
.slide{
  overflow: hidden;
}
.slide::before{
  content: "";
  position: absolute;
  height: 90vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.slide .image {
  height: 90vh;
  width: 100%;
  object-fit: cover;
}

.slide .image-data{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 100;
}
.image-data span.text{
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.image-data h2{
  font-size: 45px;
  font-weight: 600;
  color: #fff;
}
a.button{
  display: inline-block;
  padding: 20px 20px;
  border-radius: 25px;
  color: #333;
  background: #fff;
  text-decoration: none;
  margin-top: 25px;
  transition: all 0.3s ease;
}
a.button:hover{
  color: #fff;
  background-color: #839bc5e7;
}

/*LIVROS*/
.titulo{
  margin-top: 15vh;
  font-size: 26px;
  text-align: center;
}

.busca{
  text-align: center;
  margin-top: 4vh;
}

#pesquisa{
  outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 110%;
  color: black;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}
input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 52%;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 58%;
	background-color: #fff;
	border-color: #FA834B;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}


#fileira-principal{
  margin-top: 7vh;
}

.container{
  margin: 0 auto;
  max-width: 1240px;
  padding: 18px;
  position: relative;
  margin-bottom: 12vh;
}

.subtitulo{
  padding-bottom: 2vh;
  font-size: 23px;
  padding-left: 1.8vh;
}

.livros{
  display: flex;
  margin: 0 20px;
  flex-flow: row nowrap;
  gap: 15px;
}

.img-livros{
  width: 180px;
  height: 280px;
}


